<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AD_project.Properties.Settings.E_ApartmentsConnectionString"
            connectionString="Data Source=DESKTOP-QD5TKKH;Initial Catalog=E-Apartments;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>